:root{
  --primari-header-color: #F5F5F5;
  --second-header-color:#F5F4FA;
  --light-text:  #212121;
  --second-text: #757575;
  --another-text: #FFFFFF;
  }
 
.link {text-decoration: none;}

.list {list-style: none;}

body{
font-family: Roboto,sens-serif;
color: var(--light-text);

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

 /*----Header-----*/

.header{
 background-color: var(--primari-header-color);
}


.logo{
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}
.accent {
  color: #000000;}

/*----Site nav-----*/

.header-nav .link{
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 color: var(--light-text);
 }

.header-nav .link.current:hover,
.header-nav .link.current:focus{
 color: #2196F3;
}

.header-tel{
 color: var(--second-text)
}

/*----Hero-----*/

.hero{
  background-color:#2F303A; 
  text-align: center;
}

.hero-title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--another-text);
}

.hero-btn{
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16xp;
  line-height: 1.87;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*----Terms-----*/
.terms{
  background-color:var(--primari-header-color);
}
.terms-title{
    font-weight: 700;
    font-size: 14xp;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.terms-item{
    font-size: 14xp;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--second-text);
}
/*----About-----*/
.about{
  background-color: var(--primari-header-color);
}
.about-title{
  font-weight: 700;
  font-size: 36xp;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/*----Comand-----*/
.comand{
  background-color:#F5F4FA;
}
.comand-pre-title{
    font-weight: 700;
    font-size: 36xp;
    line-height: 1.25;
    letter-spacing: 0.03em;
}
.comand-items{
background-color: var(--primari-header-color);
}
.comand-title{
    font-weight: 500;
    font-size: 16xp;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.comand-post-title{
  font-size: 16xp;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text);
}
/*----Works button-----*/
 

}
.work-btn-original.link{
  background-color: #2196F3;
    font-family: inherit;
    font-weight: 500;
    font-size: 16xp;
    line-height: 1.63;
    color: #FFFFFF;
  }
.work-btn.link{
   background-color: #F5F4FA;;
   font-family: inherit;
    font-weight: 500;
    font-size: 16xp;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
}

/*----Works-----*/
.work-items{
  background-color: linear-gradient(0deg, #EEEEEE, #EEEEEE),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.work-title{
    font-weight: 700;
    font-size: 18xp;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--light-text);
}
.work-text{
    font-size: 16xp;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-text);
}

/*----Footer-----*/

.footer{
  background-color: #2F303A;
}
.accent-footer{
  color: var(--another-text);
}
.footer-items {
   font-style: normal;}

  .footer-item.link{
  font-size: 14xp;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-links.link{
  font-size: 14xp;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:var(--another-text);
}
  
